branches:
  only:
    - legacy-stable
    - master
    - unstable

language: php

php:
  - 5.6
  - 7.0
  - nightly

matrix:
  fast_finish: true
  include:
    - php: 5.6
      env: COMPOSER_OPTIONS="--prefer-lowest"
    - php: 7.0
      env: SYMFONY_VERSION=2.7.*
    - php: 7.0
      env: SYMFONY_VERSION=2.8.*
    - php: 7.0
      env: SYMFONY_VERSION=3.0.*
    - php: 7.0
      env: SYMFONY_VERSION=3.1.*@dev
  allow_failures:
    - php: nightly
    - env: SYMFONY_VERSION=3.1.*@dev

install:
  - |
      if [ "$SYMFONY_VERSION" != "" ]
      then composer require "symfony/symfony:$SYMFONY_VERSION" --no-update
      fi
  - composer update ${COMPOSER_OPTIONS}

script: bin/phpunit
