branches:
  only:
    - legacy-stable
    - master
    - unstable

language: php

php:
  - 5.6
  - 7.1
  - nightly

cache:
  directories:
    - $HOME/.composer/cache/files

matrix:
  fast_finish: true
  include:
    - php: 5.6
      env: COMPOSER_OPTIONS="--prefer-lowest"
    - php: 7.1
      env: SYMFONY_VERSION=2.8.*
    - php: 7.1
      env: SYMFONY_VERSION=3.3.*
    - php: 7.1
      env: SYMFONY_VERSION=3.4
    - php: 7.1
      env: SYMFONY_VERSION=4.0
    - php: 7.1
      env: SYMFONY_VERSION=4.1.*@dev
  allow_failures:
    - php: nightly
    - env: SYMFONY_VERSION=4.1.*@dev

install:
  - composer global require sllh/composer-lint:@stable --prefer-dist --no-interaction
  - |
      if [ "$SYMFONY_VERSION" != "" ]
      then composer require "symfony/symfony:$SYMFONY_VERSION" --no-update
      fi
  - composer update ${COMPOSER_OPTIONS} --prefer-dist

script:
  - composer validate
  - SYMFONY_DEPRECATIONS_HELPER=weak_vendors vendor/bin/simple-phpunit
