language: php

php:
  - 7.2
  - 7.3
  - nightly

cache:
  directories:
    - $HOME/.composer/cache/files

script:
  - >
    SYMFONY_DEPRECATIONS_HELPER="max[self]=0"
    SYMFONY_PHPUNIT_VERSION=8.5.2
    vendor/bin/simple-phpunit

install:
  - |
      if [ "$SYMFONY_VERSION" != "" ]
      then composer require "symfony/symfony:$SYMFONY_VERSION" --no-update
      fi
  - composer update ${COMPOSER_OPTIONS} --prefer-dist

jobs:
  include:
    - php: 7.3
      script:
        - composer validate
    - php: 7.2
      env: COMPOSER_OPTIONS="--prefer-lowest"
  allow_failures:
    - php: nightly
